<div class="page-container">
            
            <!-- START PAGE SIDEBAR -->
            <div class="page-sidebar">
                <menu-principal usuario="usuario" time="usuario.timeSelecionado" ativo="mnu-2"></menu-principal>
            </div>
            <!-- END PAGE SIDEBAR -->
            
            <!-- PAGE CONTENT -->
            <div class="page-content">
                <barra-status usuario="usuario"></barra-status>

                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li class="active">Jogadores</li>
                </ul>
                <!-- END BREADCRUMB -->      

                <!-- PAGE TITLE -->
                <div class="page-title">                    
                    <h2><span class="fa fa-users"></span> Jogadores <span class="badge badge-default">{{ lstJogadores.length }}</span></h2>
                </div>
                <!-- END PAGE TITLE -->  
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Pesquisa</h3>
                                </div>
                                <div class="panel-body">
                                    <p>Use a pesquisa para localizar jogadores. Você pode encontrar através do: nome ou apelido. Ou utilize a Pesquisa Avançada.</p>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <span class="fa fa-search"></span>
                                                    </div>
                                                    <input type="text" ng-model="filtrosAvancados.palavraChave" class="form-control" placeholder="Quem você está procurando?"/>
                                                    <div class="input-group-btn">
                                                        <button ng-click="pesquisar()" class="btn btn-primary">Pesquisar</button>
                                                        <button ng-click="exibirFiltroAvancado()" class="btn btn-info"><span class="fa fa-cog"></span></button>
                                                    </div>
                                                </div>

                                                <div id="dvFiltrosAvancados" class="col-md-12 filtros-avancados">
                                                    <div class="col-md-12" style="margin-bottom: 10px">
                                                        <strong>Pesquisa Avançada</strong>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label class="col-md-12">Posição</label>
                                                        <div class="col-md-12">
                                                            <select selectpicker id="cboFiltrosPosicao" name="cboFiltrosPosicao" class="form-control" 
                                                            ng-model="filtrosAvancados.posicao">
                                                                <option></option>
                                                                <option ng-repeat="posicao in lstPosicao" value="{{posicao.descricao}}">{{posicao.descricao}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label class="col-md-12">Pé Preferido</label>
                                                        <div class="col-md-12">
                                                            <select selectpicker id="cboFiltrosPePreferido" name="cboFiltrosPePreferido" class="form-control" 
                                                            ng-model="filtrosAvancados.pePreferido">
                                                                <option></option>
                                                                <option>Direito</option>
                                                                <option>Esquerdo</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label class="col-md-12">Status</label>
                                                        <div class="col-md-12">
                                                            <select selectpicker id="cboFiltrosStatus" name="cboFiltrosStatus" class="form-control" 
                                                            ng-model="filtrosAvancados.status">
                                                                <option></option>
                                                                <option ng-repeat="status in lstStatus" value="{{status._id}}">{{status.descricao}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 text-right">
                                                            <label class="col-md-12">&nbsp;</label>
                                                            <button id="btnLimparFiltroAvancado" ng-click="limparFiltroAvancado()" class="btn btn-danger" style="display: none;"><span class="fa fa-eraser"></span> Limpar Filtros</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2"></div>
                                            <div class="col-md-2">
                                                <button class="btn btn-success btn-block" data-toggle="modal" data-target="#modalAdicionarEditarJogador"><span class="fa fa-plus"></span> Adicionar Jogador</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Jogadores</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table datatable">
                                            <thead>
                                                <tr>
                                                    <th>Apelido</th>
                                                    <th>Nome</th>
                                                    <th>Posição</th>
                                                    <th>Pé Preferido</th>
                                                    <th>Classificação</th>
                                                    <th>Status</th>
                                                    <th class="sorting_disabled">Editar</th>
                                                    <th>Excluir</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="jogador in lstJogadores">
                                                    <td>{{jogador.apelido}}</td>
                                                    <td>{{jogador.nome}}</td>
                                                    <td>{{jogador.posicao}}</td>
                                                    <td>{{jogador.pePreferido}}</td>
                                                    <td>
                                                        <span style="display: none;">{{jogador.classificacao}}</span>
                                                        <div class="rating" ng-rating-model="jogador.classificacao"></div>
                                                    </td>
                                                    <td><span class="label" ng-class="jogador._status.descricao == 'Ativo' ? 'label-success' : 'label-danger'">{{jogador._status.descricao}}</span></td>
                                                    <td>
                                                        <button class="btn btn-default btn-rounded btn-sm" ng-click="modalEditarJogador(jogador)">
                                                            <span class="fa fa-pencil"></span>
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger btn-rounded btn-sm" onclick="delete_row('trow_1');">
                                                            <span class="fa fa-times"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT WRAPPER -->                                 

            </div>            
            <!-- END PAGE CONTENT -->
        </div>

        <div class="modal" id="modalAdicionarEditarJogador" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                        <h4 class="modal-title" id="largeModalHead">
                            <span class="fa fa-user"></span>&nbsp;&nbsp;
                            Jogador
                            <span id="lblStatusModal" ng-hide="jogador.acao == 'Editar'" class="label label-success statusModal">Novo</span>
                            <span id="lblStatusModal" ng-show="jogador.acao == 'Editar'" class="label label-danger statusModal">Edição</span>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <form id="frmJogador" name="frmJogador" class="form-horizontal">
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <label class="col-md-4 control-label">Apelido</label>
                                    <div class="col-md-4 col-xs-12">
                                        <input type="text" class="form-control" id="txtApelido" name="txtApelido" placeholder="Apelido" ng-model="jogador.apelido"/>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-md-4 control-label">Nome</label>
                                    <div class="col-md-7 col-xs-12">
                                        <input type="text" class="form-control" id="txtNome" name="txtNome" placeholder="Nome" ng-model="jogador.nome"/>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-md-4 control-label">Data de Nascimento</label>
                                    <div class="col-md-5">
                                        <div class="input-group">
                                            <input type="text" id="txtDtNascimento" name="txtDtNascimento" placeholder="Data Nascimento"
                                            datetimepicker ng-model="jogador.dataNascimentoFormatada"
                                            class="form-control" />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-md-4 control-label">Posição</label>
                                    <div class="col-md-4 col-xs-12">
                                        <select selectpicker id="cboPosicao" name="cboPosicao" class="form-control select" 
                                        ng-model="jogador.posicao">
                                            <option></option>
                                            <option ng-repeat="posicao in lstPosicao" value="{{posicao.descricao}}">{{posicao.descricao}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-md-4 control-label">Pé Preferido</label>
                                    <div class="col-md-4 col-xs-12">
                                        <select selectpicker id="cboPePreferido" name="cboPePreferido" class="form-control select" 
                                        ng-model="jogador.pePreferido">
                                            <option></option>
                                            <option>Direito</option>
                                            <option>Esquerdo</option>
                                        </select>
                                    </div>    
                                </div>
                                <div class="row form-group">
                                    <label class="col-md-4 control-label">Classificação</label>
                                    <div class="col-md-4 col-xs-12">
                                        <div class="rating" ng-rating-model="jogador.classificacao"></div>
                                    </div>    
                                </div>
                                <div class="row form-group">
                                    <label class="col-md-4 control-label">Status</label>
                                    <div class="col-md-4 col-xs-12">
                                        <span class="label label-success">Ativo</span>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4>Informações de Contato</h4>
                                <div class="row form-group">
                                    <label class="col-md-4 control-label">Email</label>
                                    <div class="col-md-8">
                                        <input type="email" class="form-control" id="txtTimeEmail" name="txtTimeEmail" placeholder="Email" ng-model="jogador.contato.email"/>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-md-4 control-label">Telefone (1)</label>
                                    <div class="col-md-4">
                                        <input type="telefone" class="form-control mask-telefone" id="txtTimeTelefone1" name="txtTimeTelefone1" placeholder="Telefone" ng-model="jogador.contato.telefone1"/>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-md-4 control-label">Telefone (2)</label>
                                    <div class="col-md-4">
                                        <input type="telefone" class="form-control mask-telefone" id="txtTimeTelefone2" name="txtTimeTelefone2" placeholder="Telefone" ng-model="jogador.contato.telefone2"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" ng-click="fecharModal()">Cancelar</button>
                        <button class="btn btn-success" ng-hide="jogador.acao == 'Editar'" ng-click="adicionarJogador()">Adicionar</button>
                        <button class="btn btn-success" ng-hide="jogador.acao == 'Editar'" ng-click="adicionarJogadorUnico()">Adicionar & Fechar</button>
                        <button class="btn btn-success" ng-show="jogador.acao == 'Editar'" ng-click="editarJogador()">Editar & Fechar</button>
                    </div>
                </div>
            </div>
        </div>  