<div class="login-container lightmode">

    <div class="login-box animated fadeInDown">
        <div class="login-logo"></div>
        <div class="login-body">
            <div id="notificacao-erro" class="alert alert-danger alert-1">
                <button type="button" class="close" onclick="$(this).parent().hide()"><span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <strong>Oh não!&nbsp;</strong>
                <span ng-bind-html='mensagem' />
            </div> 
            <form id="frmLogin" role="form" class="form-horizontal" method="post" novalidate>
            <div class="login-title"><strong>Acesse</strong> para gerenciar seu time</div>
            <div class="form-group">
                <div class="col-md-12">
                    <input id="txtLogin" type="text" name="txtLogin" class="form-control" placeholder="Login" ng-model="usuario.login"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="password" class="form-control" name="txtSenha" placeholder="Senha" ng-model="usuario.senha"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <a href="#" class="btn btn-link btn-block">Esqueceu sua senha?</a>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-info btn-block" ng-click="realizarLogin()">Entrar</button>
                </div>
            </div>
            <div class="login-or hide">OU</div>
            <div class="form-group hide">
                <div class="col-md-4">
                    <button class="btn btn-info btn-block btn-twitter"><span class="fa fa-twitter"></span> Twitter</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-info btn-block btn-facebook"><span class="fa fa-facebook"></span> Facebook</button>
                </div>
                <div class="col-md-4">                            
                    <button class="btn btn-info btn-block btn-google"><span class="fa fa-google-plus"></span> Google</button>
                </div>
            </div>
            <div class="login-subtitle clickable">
                Ainda não possui acesso? <a ng-click="cadastro()">Crie sua conta</a>
            </div>
            </form>
            <form id="frmSelecionarTime" role="form" class="form-horizontal" method="post" novalidate>
                <div class="login-title"><strong>Selecione</strong> qual time deseja gerenciar</div>
                <!-- SELECIONAR TIME -->
                <div class="panel panel-default">
                    <div class="panel-body list-group list-group-times">                                
                        <a class="list-group-item clickable" ng-repeat="acesso in usuario.acessos" ng-click="selecionarTime(acesso._time._id)">
                            <img ng-src="{{acesso._time.imagemSimbolo}}" class="pull-left" alt="{{acesso._time.nome}}"/>
                            <span class="contacts-title">{{acesso._time.nome}}</span>
                            <p style="min-height: 20px;">{{acesso._time.nomeCompleto}}</p>         
                            <div class="list-group-controls">
                                <button class="btn btn-primary btn-rounded"><span class="fa fa-cogs"></span></button>
                            </div>                                    
                        </a>                                                                
                    </div>
                </div>
                <!-- END SELECIONAR TIME -->
                <button class="btn btn-default btn-block" ng-click="cancelarSelecionarTime()">Cancelar</button>
            </form>
        </div>
        <div class="login-footer">
            <div class="pull-left">
                &copy; 2017 GesTeam
            </div>
            <div class="pull-right">
                <a href="#">Sobre</a> |
                <a href="#">Privacidade</a> |
                <a href="#">Contato</a>
            </div>
        </div>
    </div>
    
</div>





