.statusModal {
    margin-right: 10px;
    margin-top: 7px;
    float: right;
}

.filtros-avancados{
  padding-top: 5px;
  padding-bottom: 10px;
  display: none;
  right: 1px;
  border: 1px solid #D5D5D5;
  border-top: none;
  -webkit-border-bottom-right-radius: 12px;
  -webkit-border-bottom-left-radius: 12px;
  -moz-border-radius-bottomright: 12px;
  -moz-border-radius-bottomleft: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

datetimepicker2{
  margin-bottom: 0px;
}

svg {
   top: 0 !important;
   left: 0 !important;
}

.canvas-camisa {
  height: 141px;
  width: 109px;
}
.canvas-calcao {
  height: 81px;
  width: 109px;
}
.canvas-meiao {
  height: 124px;
  width: 109px;
}

/* Inicio - Upload Simbolo */
.kv-simbolo-custom{
  width: 100%;
}

.kv-simbolo-custom-preview, .kv-simbolo-custom-preview .file-preview{
  width: 194px;
  height: 194px;
}

.kv-simbolo-custom-preview .file-preview img{
  width: 180px !important;
  height: 180px !important; 
}

.kv-simbolo-custom-preview img{
  width: 180px;
  height: 90%;
}

.kv-simbolo-custom-controls{
  text-align: right;
  margin-top: 5px;
}

.kv-simbolo .krajee-default.file-preview-frame,
.kv-simbolo .krajee-default.file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-simbolo {
    display: inline-block;
}

.kv-simbolo .file-input {
    display: table-cell;
    /*text-align: center;
    width: 213px;*/
}
/* Fim - Upload Simbolo */

.alert-1{
  padding: 5px 15px;
  line-height: 16px;
}

.popover {
  font-size: 11px;
}

.info-field{
  font-size: 20px;
  color: #1caf9a;
  margin-left: -15px;
  margin-top: 5px;
}

.info-field-2{
  color: #1caf9a;
}

.clickable{
	cursor: pointer;
}

.form-group {
    margin-bottom: 7px;
}

.blank-container.modal-login{
	padding-top: 2%;
}

.blank-container {
  float: left;
  width: 100%;
  min-height: 100%;
  background: #f5f5f5 url(../img/bg.png) left top repeat
}

.blank-container.lightmode {
  /*background: url("../img/backgrounds/wall_1.jpg") left top no-repeat;*/
}

.modal-login .page-content-wrap{
	/*width: 80%;
    margin: 0px 10%;*/
}

.modal-login < .ng-scope
{
  height: 100%; 
}

@media only screen and (min-width: 768px)
{
  .field-custom-cep{
    width: 40%;
  }
}